/* Adds a margin to the left of the background */
.skipLeft {
    position: relative;
    margin-left: 10%;
    width: 90%;
}

.example-fill-remaining-space{
    flex: 1 1 auto;
  }
  
  #aboveBackground {
      display: flex;
      align-items: center;
  }
  
  #offices{
      width: 15%;
      margin: 0 1% 0 1%;
  }
  
  #levels{
      width: 15%;
      margin: 0 1% 0 1%;
  }
  
  /* For elements that are inside the background and should be positioned at the top of it */
  #insideBackgroundTop {
    display: flex;
    align-items: center;
  }

.centerAll {
    top: 50%;
    left: 50%;
    width: 60em;
    height: 44em;
    margin-top: -22em;
    margin-left: -30em;
    position: fixed;
    color: white;
}

/* Background */
.background {
    background-color: rgba(0,0,0,.7);
    /*position: absolute;*/
    min-height: 400px;
    height: 100%;
    /*width: 100%;*/
}

/* For centering the table inside the background. */
.centerTable {
    position: relative;
    /*margin: 5%;*/
}

/* Center an image in the middle */
/* Putting height or width values here might really mess with the cursor position when you move your mouse outside the image */
/* Background for testing */
.centerImage {
    /*
    position:relative;
    background: pink;
    width: 100%;   
    height: 100%;
    */
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Positioning stuff on the left and middle of the background */
.leftUser {
    /*
    position: relative;
    width: 70%;
    height: 100%;
    float: left;*/
    position: relative;
    display: flex;
    align-items: center;
}

#aroundImage {
    height: 100%;
    width: 100%;
    margin: 3% 3% 3% 3%;
}

/* Positioning stuff that only admin should be able to see */
.rightAdmin {
    position: relative;
    /*
    width: 30%;
    margin-top: 5%;
    height: 100%;
    float: right;
    */
    margin: 3% 3% 3% 3%;
}

.centerText {
    position: relative;
    text-align: center;
}

/* For the text box containing the "X", "Y" letters to the left of the mouse coordinates */
.centerTextCursor1 {
    background-color: gray;
    color: white;
    text-align: center;
    width: 25%;
    height: 4%;
}

/* For the text box containing the "X", "Y" letters to the left of the circle insertion coordinates */
.centerTextCursor2 {
    background-color: rgb(37, 150, 190);
    color: white;
    text-align: center;
    width: 25%;
    height: 4%;
}

/* For the text box containing the coordinates of the cursor. */
.centerTextInput {
    background-color: white;
    border-color: rgb(37, 150, 190);
    border-width: 2px;
    color: black;
    text-align: center;
    width: 50%;
    height: 4%;
}

/* Centers the "add" button visible to the admin on the right side of the background. */
.centerAddButton {
    background-color: rgb(37, 150, 190);
    color: white;
}

.submitButton {
    background-color:rgb(37, 150, 190);
    color: white;
}

/* Puts the office name on the left */
.officeLeft {
    /*
    text-align: left;
    display: inline;
    */
}

/* Centers the date filter */
.dateCenter {
    /*
    text-align: center;
    display: inline;
    width: 50%;
    margin-left: 15%;
    padding: 10px;*/
    margin: 0 3% 0 3%;
}

/* Puts the time filter on the right */
.timeRight {
    /*
    text-align: right;
    display: inline;
    float: right;
    background: transparent;
    */
}

.timeBox {
    background-color: transparent;
    border: none;
    color: white;
}

/* Makes input type box prettier */
.dateBox {
    background-color: transparent;
    border: none;
    color: white;
}

.dateBox:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

.material-icons {
    display: inline;
}

.material-icons:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

#editable p{
    margin:0;
    padding:0;
}

/* Used by desks on the image */
.desk {
    position:absolute;
}

.desk:hover {
    box-shadow: 0 0 8px white;
    cursor: pointer;
}

.dialogBox {
    border-width: 5px;
    border-color: rgb(37, 150, 190);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.normalButton {
    background: rgb(37, 150, 190);
    border-color: rgb(37, 150, 190);
    color: white;
}

.removeButton {
    background: red;
    border-color: red;
    color: white;
}