<div class="centerAll">
  <span class="officeLeft"> Office </span>

  <div class="background">
    <!--*ngIf="imageLoaded"; else #noImage-->
    <div class="skipLeft">
      <span> Room </span>

      <span class="material-icons" (click)="openRemoveRoomDialog()">
        remove
      </span>

      <div class="dateCenter">
        <input class="dateBox" type="date" [(ngModel)]="dateNow">
      </div>
  
      <div class="timeRight">
        <input class="timeBox" type="time" [(ngModel)]="timeNow">
      </div>
    </div>

      <br>

      <div class="centerText">
        <input class="centerAddButton" style="cursor:pointer" type="submit" value="Make a reservation"
          (click)="openReservationDialog()">
      </div>

    
    <div class="leftUser">
      <!--show room image-->
      <div class="centerImage" (mousemove)="mouseMoved($event)">
        <img [src]="imageToShow" [style.width.px]="600" [style.height.px]="500" alt="Place image title" *ngIf="!isImageLoading && imageLoaded">

        <!--It might be needed to move out desk generation out of here later-->
        <!--Print desks on the room image-->
        <div *ngFor="let desk of desks">
          <!--Display every desk with its number next to it on the room's image, changes deskId to the desk that was clicked-->
          <img class="desk" [style.width.px]="25" [style.top.px]="desk.positionY" [style.left.px]="desk.positionX"
            src="assets/desks/desk_black.png" (click)="currentDeskId(desk); openEditDeskDialog();" />
        </div>
      </div>
      <!--text bar in case there is no image for the level-->

      <!--search for the rooms fulfilling the date & time criteria-->
    </div>
    <!--This should only load in for the admin...-->
    <!--For adding a desk-->
    <div class="rightAdmin" *ngIf="_login.isAdmin()">
      <span class="centerText">Current cursor position:</span>
      <br>
      <input type="text" class="centerTextCursor1" value="X:" disabled="disabled">
      <input class="centerTextInput" type="number" value="{{cursorX}}" readonly="readonly" />
      <br><br>
      <input type="text" class="centerTextCursor1" value="Y:" disabled="disabled">
      <input class="centerTextInput" type="number" value="{{cursorY}}" readonly="readonly" />
      <br><br>
      <span class="centerText">Add a new desk:</span>
      <br>
      <input type="text" class="centerTextCursor2" value="X:" disabled="disabled">
      <input class="centerTextInput" type="number" [(ngModel)]="positionX" />
      <br><br>
      <input type="text" class="centerTextCursor2" value="Y:" disabled="disabled">
      <input class="centerTextInput" type="number" [(ngModel)]="positionY" />
      <br><br>
      <input type="text" class="centerTextCursor2" value="NR:" disabled="disabled">
      <input class="centerTextInput" type="number" [(ngModel)]="number" />
      <br><br>
      <input type="text" class="centerTextCursor2" value="FACING:" disabled="disabled">

      <select class="centerTextInput" list="orientation">
        <option value="NORTH">NORTH</option>
        <option value="EAST">EAST</option>
        <option value="SOUTH">SOUTH</option>
        <option value="WEST">WEST</option>
      </select>

      <br><br>
      <div class="centerText">
        <input class="centerAddButton" style="cursor:pointer" type="submit" value="ADD" (click)="doAddDesk()">
      </div>
    </div>
    <!--End of things that should only load for the admin...-->

  </div>

  <!--Renders a file input for an admin if the room is missing a room image-->
  <ng-template #noImage>
    <div class="skipLeft" *ngIf="_login.isAdmin()">
      <div class="leftUser">
        <div class="centerImage">
          <span>This room doesn't have an image associated with it yet.</span>
          <input type="file">
          <input type="submit" (click)="doUploadRoomFile">
        </div>
      </div>
    </div>
  </ng-template>
</div>

<dialog id="removeRoomDialog">
  <p>Remove this room</p>
  <button (click)="openRemoveRoomSureDialog()">Remove</button>
  <button (click)="closeRemoveRoomDialog()">Cancel</button>
</dialog>

<dialog id="removeRoomSureDialog">
  <p>Are you sure you want to remove this room?</p>
  <br>
  <p>This action is irreversible!</p>
  <button (click)="closeRemoveRoomSureDialog();closeRemoveRoomDialog()">Remove</button>
  <button (click)="closeRemoveRoomSureDialog();closeRemoveRoomDialog()">Cancel</button>
</dialog>

<dialog id="removeDeskSureDialog">
  <p>Are you sure you want to remove this desk?</p>
  <br>
  <p>This action is irreversible!</p>
  <button
    (click)="doDeleteDesk(deskId); closeRemoveDeskSureDialog(); closeRemoveDeskDialog(); closeEditDeskDialog();">Remove</button>
  <button (click)="closeRemoveDeskSureDialog();closeRemoveDeskDialog();closeEditDeskDialog()">Cancel</button>
</dialog>

<dialog id="editDeskDialog">
  <span class="centerText">Edit a desk</span>
  <br>
  <input type="text" class="centerTextCursor1" value="X:" disabled="disabled">
  <input class="centerTextInput" type="number" placeholder="deskPositionX" [(ngModel)]="deskPositionX" />
  <br>
  <br>
  <input type="text" class="centerTextCursor1" value="Y:" disabled="disabled">
  <input class="centerTextInput" type="number" placeholder="deskPositionY" [(ngModel)]="deskPositionY" />
  <br>
  <br>
  <input type="text" class="centerTextCursor1" value="NR:" disabled="disabled">
  <input class="centerTextInput" type="number" placeholder="deskNumber" [(ngModel)]="deskNumber">
  <br>
  <br>
  <input type="text" class="centerTextCursor1" value="ID:" disabled="disabled">
  <input class="centerTextInput" type="text" placeholder="deskId" [(ngModel)]="deskId">
  <br>
  <br>
  <button (click)="doUpdateDesk(); closeEditDeskDialog();">Save</button>
  <button (click)="closeEditDeskDialog()">Cancel</button>
  <br>
  <button (click)="openRemoveDeskSureDialog()">Remove</button>
</dialog>

<dialog id="positionDialog">
  <p>Add level</p>
  <input type="text" name="username" id="whatever" placeholder="...">
  <br>
  <button>Add</button>
  <button (click)="closePositionDialog()">Cancel</button>
</dialog>

<dialog id="reservationDialog">
  <p>Fill in reservation information...</p>
  <input type="date" name="startDay" [(ngModel)]="startDay">
  <br>
  <br>
  <input type="date" name="endDay" [(ngModel)]="endDay">
  <br>
  <br>
  <input type="time" name="startHour" [(ngModel)]="startHour">
  <br>
  <br>
  <input type="time" name="endHour" [(ngModel)]="endHour">
  <br>
  <br>
  <input type="checkbox" name="isPermanent" [(ngModel)]="isPermanent">
  <label for="isPermanent"> Is permanent?</label>
  <br>
  <button (click)="doMakeReservation()">Save</button>
  <button (click)="closeReservationDialog()">Cancel</button>
</dialog>

<dialog id="timeDialog">
  <p>Please select reservation time</p>
  <input type="text" class="time_input" [(ngModel)]="Input1" placeholder="From...">
  <br>
  <input type="timeUntil" class="time_input" [(ngModel)]="Input2" placeholder="Until...">
  <br>
  <button>OK</button>
  <button (click)="closeTimeDialog()">Cancel</button>
</dialog>