<!--Center everything on screen-->
<div id="centerAll">
  <!--Outside the background-->
  <span>Reserved desks:</span>
  <!--Inside the background-->
  <div id="background">
    <div id="centerTable">
      <table mat-table [dataSource]="reservations" class="table">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">date</th>
          <td mat-cell *matCellDef="let element"> {{ element.startTime | date }} - {{ element.endTime | date }} </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">time</th>
          <td mat-cell *matCellDef="let element"> {{ element.startTime | date:'hh:mm' }} - {{ element.endTime | date:'hh:mm' }} </td>
        </ng-container>

        <ng-container matColumnDef="office">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">office</th>
          <td mat-cell *matCellDef="let element"> {{ element.officeName  }} </td>
        </ng-container>

        <ng-container matColumnDef="room">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">room</th>
          <td mat-cell *matCellDef="let element"> {{ element.roomNumber }} </td>
        </ng-container>

        <ng-container matColumnDef="desk">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">desk</th>
          <td mat-cell *matCellDef="let element"> {{ element.deskNumber }} </td>
        </ng-container>

        <ng-container matColumnDef="isPermanent">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">is permanent?</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.isPermanent; else notPermanent">yes</div>
            <ng-template #notPermanent>no</ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnes; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnes"></tr>
      </table>
    </div>
  </div>
</div>

<!--
<md-paginator #paginator
                [length]="length"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageEvent = getServerData($event)"
                >
 </md-paginator>
-->
