<div class="register">
  <div class="register_box">
    <div class="register_mar">
      <h1 class="text_box2">Register account</h1>
      <input class="register_input" placeholder="Username">
      <br>
      <input class="register_input" placeholder="E-mail address">
      <br>
      <input type="password" class="register_input" placeholder="Password">
      <br>
      <input type="password" class="register_input" placeholder="Confirm password">
      <br>
      <button id="register_btn">Register account</button>
      <div id="text">
        <a>Already have an account? </a>
        <b id="link" routerLink="../login" routerLinkActive="active">Login</b>
      </div>
    </div>
  </div>
</div>
