<div class="register">
  <div class="register_box">
    <div class="register_mar">
      <h1 class="text_box2">Register an account</h1>
      <input class="register_input" [(ngModel)]="login" placeholder="Login">
      <br>
      <input class="register_input" [(ngModel)]="email" placeholder="E-mail address">
      <br>
      <input type="password" class="register_input" [(ngModel)]="password" placeholder="Password">
      <br>
      <input type="password" class="register_input" [(ngModel)]="password2" placeholder="Confirm password">
      <br>
      <button id="register_btn" style="cursor:pointer">Register account</button>
      <div id="text">
        <a>Already have an account? </a>
        <b id="link" style="cursor:pointer" routerLink="../login" routerLinkActive="active">Login</b>
<!--       <button id="register_btn" (click)="doRegister()">Register an account</button>
      <div id="text">
        <a>Already have an account? </a>
        <b id="link" routerLink="../login" routerLinkActive="active">Log in</b> -->
      </div>
    </div>
  </div>
</div>
