<div class="centerAll">

  <div id="aboveBackground">
    <span class="officeLeft"> Office </span>
    <!--Prints a list of all available levels in that office-->
    <select id="offices" [(ngModel)]="officeId" name="officeId">
      <option class="optionBox" *ngFor="let office of offices" value="{{office.id}}">{{office.name}}</option>
    </select>
    <input type="submit" class="submitButton" value="Submit" (click)="setOfficeId(officeId)">
    <!--Adding an office, only admin should be able to see it-->
    <div *ngIf="login.isAdmin()" style="display: inline-block">
      <span class="material-icons" (click)="openAddOfficeDialog()">add</span>
      <span class="material-icons" (click)="openRemoveOfficeDialog()">remove</span>
    </div>
    <!--Replace normal text stuff with input type date later-->
    <div class="example-fill-remaining-space"></div>
    <div class="dateCenter">
      <input class="dateBox" type="date" [(ngModel)]="dateFrom">
      <a> - </a>
      <input class="dateBox" type="date" [(ngModel)]="dateUntil">
    </div>
    <div class="timeRight">
      <input class="timeBox" type="time" [(ngModel)]="timeFrom">
      <a> - </a>
      <input class="timeBox" type="time" [(ngModel)]="timeUntil">
    </div>
  </div>

  <div class="background">
    <div id="insideBackgroundTop">
      <span> Level </span>

      <!--Prints a list of all available levels in that office-->
      <select id="levels" [(ngModel)]="levelId" name="levelId">
        <option class="optionBox" *ngFor="let level of levels" value="{{level.id}}">{{level.number}}</option>
      </select>
      <input type="submit" class="submitButton" value="Submit" (click)="setLevel(levelId, levelNumber)">
      <!--Adding a level in one particular office, only admin should be able to see it-->
      <div *ngIf="login.isAdmin()" style="display: inline-block">
        <span class="material-icons" (click)="openAddLevelDialog()">add</span>
        <span class="material-icons" (click)="openRemoveLevelDialog()">remove</span>
      </div>
    </div>

    <div class="leftUser">
      <!--Only admin should be able to see the option for adding a file-->
      <!--
      <div *ngIf="login.isAdmin()">
        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
      </div>
    -->
      <div id="aroundImage">
        <div class="centerText">
          <div class="centerImage" (mousemove)="mouseMoved($event)">
            <img [src]="imageToShow" alt="Place image title" *ngIf="!isImageLoading;">

            <!--Print dots on the room image-->
            <div *ngFor="let dot of dots">
              <!--Add something past /room/ so you can reroute to a specific dot-->
              <a href="office/room/{{dot.id}}">
                <img class="dot" [style.width.px]="50" [style.top.px]="dot.positionY" [style.left.px]="dot.positionX"
                  src="assets/Kropka1.jpg" (click)="getRoomData(dot.number)" />
              </a>
            </div>
            
          </div>
        </div>

        <div class="centerText">
          <input class="centerAddButton" style="cursor:pointer" type="submit" value="Search" (click)="doSearch()">
        </div>
      </div>

      <div class="rightAdmin" *ngIf="login.isAdmin()">
        <span class="centerText">Current cursor position:</span>
        <br>
        <div class="centerText">
          <input type="text" class="centerTextCursor1" value="X:" disabled="disabled">
          <input class="centerTextInput" type="number" value="{{cursorX}}" readonly="readonly" />
        </div>
        <br>
        <div class="centerText">
          <input type="text" class="centerTextCursor1" value="Y:" disabled="disabled">
          <input class="centerTextInput" type="number" value="{{cursorY}}" readonly="readonly" />
        </div>
        <br>
        <span class="centerText">Add a room:</span>
        <br>
        <input type="text" class="centerTextCursor2" value="X:" disabled="disabled">
        <input class="centerTextInput" type="number" [(ngModel)]="positionX" />
        <br><br>
        <input type="text" class="centerTextCursor2" value="Y:" disabled="disabled">
        <input class="centerTextInput" type="number" [(ngModel)]="positionY" />
        <br><br>
        <input type="text" class="centerTextCursor2" value="NR:" disabled="disabled">
        <input class="centerTextInput" type="number" [(ngModel)]="number" />
        <br><br>
        <div class="centerText">
          <input class="centerAddButton" style="cursor:pointer" type="submit" value="ADD" (click)="doAddRoom()">
        </div>
      </div>
      <!--End of things that should only load for the admin...-->
      <!--search for the rooms fulfilling the date & time criteria-->
    </div>
    <!--This should only load in for the admin...-->
  </div>

  <div></div>
</div>

<!--Pop up window zone-->
<dialog id="addOfficeDialog">
  <p>Add a new office</p>
  <input type="text" placeholder="New office's name..." [(ngModel)]="officeName">
  <br>
  <button (click)="doAddOffice();closeAddOfficeDialog()">Add</button>
  <button (click)="closeAddOfficeDialog()">Cancel</button>
</dialog>

<dialog id="removeOfficeDialog">
  <p>Remove this office?</p>
  <button (click)="openRemoveOfficeSureDialog()">Remove</button>
  <button (click)="closeRemoveOfficeDialog()">Cancel</button>
</dialog>

<dialog id="addLevelDialog">
  <p>Add a new level</p>
  <input type="number" placeholder="New level's number..." [(ngModel)]="levelNumber">
  <br>
  <button (click)="doAddLevel();closeAddLevelDialog()">Add</button>
  <button (click)="closeAddLevelDialog()">Cancel</button>
</dialog>

<dialog id="removeLevelDialog">
  <p>Remove this level?</p>
  <button (click)="openRemoveLevelSureDialog()">Remove</button>
  <button (click)="closeRemoveLevelDialog()">Cancel</button>
</dialog>

<!--This shouldn't even exist...-->
<dialog id="addRoomDialog">
  <p>Add a new room</p>
  <input type="number" placeholder="New room's number ">
  <br>
  <button (click)="closeAddRoomDialog()">Add</button>
  <button (click)="closeAddRoomDialog()">Cancel</button>
</dialog>

<!--This should exist, but in rooms only I think?-->
<dialog id="removeRoomDialog">
  <p>Remove this room?</p>
  <button (click)="openRemoveSureDialog()">Remove</button>
  <button (click)="closeRemoveRoomDialog()">Cancel</button>
</dialog>


<dialog id="removeOfficeSureDialog">
  <p>Are you sure you want to remove this office?</p>
  <br>
  <p>This action is irreversible!</p>
  <button (click)="doRemoveOffice();closeRemoveOfficeSureDialog(); closeRemoveOfficeDialog()">Remove</button>
  <button (click)="closeRemoveOfficeSureDialog();closeRemoveRoomDialog();closeEditDeskDialog()">Cancel</button>
</dialog>

<dialog id="removeLevelSureDialog">
  <p>Are you sure you want to remove this level?</p>
  <br>
  <p>This action is irreversible!</p>
  <button (click)="doRemoveLevel();closeRemoveLevelSureDialog(); closeRemoveLevelDialog()">Remove</button>
  <button (click)="closeRemoveLevelSureDialog();closeRemoveLevelDialog();closeEditDeskDialog()">Cancel</button>
</dialog>

<dialog id="removeSureDialog">
  <p>Are you sure you want to remove this desk?</p>
  <br>
  <p>This action is irreversible!</p>
  <button>Remove</button>
  <button (click)="closeRemoveSureDialog();closeRemoveRoomDialog();closeEditDeskDialog()">Cancel</button>
</dialog>

<dialog id="editDeskDialog">
  <p>Edit a desk</p>
  <input type="text" name="username" id="whatever" placeholder="...">
  <br>
  <br>
  <input type="text" name="username" id="whatever" placeholder="...">
  <br>
  <br>
  <input type="text" name="username" id="whatever" placeholder="...">
  <br>
  <br>
  <input type="text" name="username" id="whatever" placeholder="...">
  <br>
  <br>
  <button>Save</button>
  <button (click)="closeEditDeskDialog()">Cancel</button>
  <br>
  <button (click)="openRemoveSureDialog()">Remove</button>

</dialog>

<dialog id="positionDialog">
  <p>Add level</p>
  <input type="text" name="username" id="whatever" placeholder="...">
  <br>
  <button>Add</button>
  <button (click)="closePositionDialog()">Cancel</button>
</dialog>

<dialog id="dateDialog">
  <p>Please select date(s)</p>
  <input type="dateFrom" class="date_input" [(ngModel)]="Input1" placeholder="{{dateFrom}}">
  <br>
  <input type="dateUntil" class="date_input" [(ngModel)]="Input2" placeholder="{{dateUntil}}">
  <br>
  <button (click)="updateDateQuery()">OK</button>
  <button (click)="closeDateDialog()">Cancel</button>
</dialog>

<dialog id="timeDialog">
  <p>Please select reservation time</p>
  <input type="text" class="time_input" [(ngModel)]="Input1" placeholder="From...">
  <br>
  <input type="text" class="time_input" [(ngModel)]="Input2" placeholder="Until...">
  <br>
  <button (click)="updateTimeQuery()">OK</button>
  <button (click)="closeTimeDialog()">Cancel</button>
</dialog>
z