/*
.font{
    color: white;
}

.image_shown
{
    color: pink;
    margin-left:150px;
}

.outer_container
{
    background-position: center;
    background-color: rgba(0,0,0,.5);
}

.outer_container2
{
    height: 100%;
    position: relative;
}

.dateCenter
{
    text-align: center;
}

.timeRight
{
    text-align: right;
}

.container{
    margin: 250px 10% 0px 10%;
    display: flex;
}

#empty1{
    width: 60%;
}

#empty2{
    width: 40%;
}

#text_box1{
    width: 40%;
    background-color: rgba(0,0,0,.7);
    color:white;
    font-size: 16px;
}

.title{
    font-size: 22px;
    font-weight: bold;
}

#text_box2{
    width: 60%;
    background-color: rgba(0,0,0,.7);
    color:white;
    font-size: 16px;
}

.text{
    margin: 20px;
}

.adminRight{
    margin-right: 25px;
}
*/
/* Stolen from https://www.w3docs.com/tools/code-editor/14099 */
/* Outermost. */

.centerAll {
    top: 50%;
    left: 50%;
    width: 60em;
    height: 44em;
    margin-top: -22em;
    margin-left: -30em;
    position: fixed;
    color: white;
}

/* Background */
.background {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    height: 96%;
    width: 100%;
}

/* For centering the table inside the background. */
.centerTable {
    position: relative;
    margin: 5%;
}

/* Center an image in the middle */
.centerImage {
    position:relative;
    margin: 40%;
    height: 100%;
}

/* Positioning stuff on the left and middle of the background */
.leftUser {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}

/* Positioning stuff that only admin should be able to see */
.rightAdmin {
    position: relative;
    width: 30%;
    margin-top: 5%;
    height: 100%;
    float: right;
}

.centerText {
    position: relative;
    text-align: center;
    margin-right: 20%;
}

/* For the text box containing the "X", "Y" letters to the left of the mouse coordinates */
.centerTextCursor1 {
    background-color: gray;
    color: white;
    text-align: center;
    width: 20%;
    height: 4%;
}

/* For the text box containing the "X", "Y" letters to the left of the circle insertion coordinates */
.centerTextCursor2 {
    background-color: rgb(37, 150, 190);
    color: white;
    text-align: center;
    width: 20%;
    height: 4%;
}

/* For the text box containing the coordinates of the cursor. */
.centerTextInput {
    background-color: white;
    border: rgb(37, 150, 190);
    border-width: 1px;
    color: black;
    text-align: center;
    width: 50%;
    height: 4%;
}

/* Centers the "add" button visible to the admin on the right side of the background. */
.centerAddButton {
    background-color: rgb(37, 150, 190);
    color: white;
    width: 30%;
    height: 10%;
}

/* Puts the office name on the left */
.officeLeft {
    text-align: left;
    display: inline;
}

/* Centers the date filter */
.dateCenter {
    text-align: center;
    display: inline;
    width: 50%;
    margin-left: 15%;
    padding: 10px;
}

/* Puts the time filter on the right */
.timeRight {
    text-align: right;
    display: inline;
    float: right;
}

/* Makes input type box prettier */
.dateBox {
    background-color: transparent;
    border: none;
    color: white;
}

.dateBox:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

.material-icons {
    display: inline;
}

.material-icons:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

/* Used by dots on the image */
.dot {
    position:absolute;
}

.dot:hover {
    box-shadow: 0 0 8px white;
    cursor: pointer;
}