<!-- The routed views render in the <router-outlet>-->
    <div class="container1">
        <div id="empty1"></div>
        <div id="text_box1">
          <h1 class="title, text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h1>
          <p class="text">Proin quis varius arcu, non mollis arcu.
            Ut sed tellus luctus, mollis nisl nec, semper lorem.
            Suspendisse tincidunt, sem nec pulvinar mollis, diam tortor sagittis eros, ut cursus felis lorem scelerisque leo.
            Integer efficitur purus massa, eu sollicitudin sapien malesuada vitae. Praesent sollicitudin sapien eu tortor placerat, at viverra velit dignissim.</p>
        </div>

    </div>
    <div class="container2">

        <div id="text_box2">
          <h1 class="title, text">
            Suspendisse quis enim ac nulla imperdiet hendrerit.
          </h1>
          <p class="text">Suspendisse nec erat tortor. Etiam sit amet arcu tristique, viverra elit eget, aliquet felis.
            Duis sed bibendum enim, nec finibus leo. Nam tellus magna, tempus at neque nec, eleifend imperdiet mauris. Praesent auctor tempor libero vitae pulvinar.
            Nunc egestas ac leo quis vehicula.</p>
        </div>
        <div id="empty2"></div>
    </div>
