<!--Pasek na górze-->
<mat-toolbar>>
  <div class="pl-20">
    <a class="color-grey2 font-14" routerLink="/" routerLinkActive="active">
      <span>Home</span>
     </a>
 </div>

 <div class="pl-20">
  <a class="color-grey2 font-14" routerLink="/office" routerLinkActive="active">
    <span>Office view</span>
   </a>
</div>

<div class="pl-20">
  <a class="color-grey2 font-14" routerLink="/reservations" routerLinkActive="active">
    <span>Reservations</span>
   </a>
</div>

<div class="pl-20">
  <a class="color-grey2 font-14" routerLink="/aboutus" routerLinkActive="active">
    <span>About us</span>
   </a>
</div>

<div class="pl-20">
  <a class="color-grey2 font-14" routerLink="/login" routerLinkActive="active">
    <span>Login</span>
   </a>
</div>

<div class="pl-20">
  <a class="color-grey2 font-14" routerLink="/register" routerLinkActive="active">
    <span>Register</span>
   </a>
</div>

<div class="pl-20">
  <a class="color-grey2 font-14" routerLink="/account" routerLinkActive="active">
    <span>Account</span>
   </a>
</div>
  
</mat-toolbar>


<!-- Stara nawigacja 
  This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) --
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Main page.</a></li>
    <li><a routerLink="/office" routerLinkActive="active">Office view.</a></li>
    <li><a routerLink="/reservations" routerLinkActive="active">My reservations.</a></li>
    <li><a routerLink="/aboutus" routerLinkActive="active">About us.</a></li>
    <li><a routerLink="/faq" routerLinkActive="active">Frequently asked questions.</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login.</a></li>
    <li><a routerLink="/register" routerLinkActive="">Register an account.</a></li>
    <li><a routerLink="/account" routerLinkActive="active">My account.</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

