.navbar {
  justify-content: space-between;
  display:flex;
}

.hidden{
  display: none;
}

#mar{
  margin: 0 20px 0 0;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

span {
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color:white;
}

p {
  margin-bottom: 0%;
  margin-top: 0%
}

.outer_container {
  min-height:100%;
}

.inner_container {
  padding-bottom:64px;
}

.footer{
  justify-content: space-between;
  position:sticky;
  bottom:0px;
  background-color:black;
  width:100%;
  margin: 0, auto;
}

/*.header{*/
/*    min-height: 50% !important;*/

/*}*/

.footer_container {
  height:24px;
  margin-top: -64px;
}

.background_img{
  background-image: url(/jakakolwiek-nazwa/src/assets/biuro.jpg);
}

.text_area1
{
  color:blueviolet;

}

@media all and (min-width: 1000px){
  .app_name{
    font-size: 20px;
    margin-right: 20px;
  }

  .l_navbar {
    justify-content:left;
    float:left;
  }

  .r_navbar {
    justify-content:right;
    float:right;
  }

  .center{
    width: 50px;
    justify-content:left;
    float:left;
    display: block;
    margin: 0 20px 0 0;
  }
}

@media all and (max-width: 1000px){
  .app_name{
    font-size: 15px;
    margin-right: 20px;
  }

  .l_navbar {
    justify-content:left;
    float:left;
    font-size: 15px;
  }

  .r_navbar {
    justify-content:right;
    float:right;
    font-size: 15px;
  }

  .center{
    width: 40px;
    justify-content:left;
    float:left;
    display: block;
    margin: 0 20px 0 0;
  }

  .pl-20{
    font-size: 15px;
  }
}

@media all and (max-width: 500px){
  .app_name{
    display: none;
  }

  .l_navbar {
    justify-content: left;
    float:left;
    font-size: 8px;
    display: flex;
  }

  .r_navbar {
    justify-content:right;
    float:right;
    font-size: 8px;
    display: flex;
  }

  .center{
    width: 25px;
    justify-content:left;
    float:left;
    display: block;
    margin: 0 20px 0 0;
  }

  .pl-20{
    font-size: 8px;
  }
}
