.navbar {
    justify-content: space-between;
    display:flex;
}

.hidden{
  display: none;
}

/*do marginesów*/
#mar {
    margin-left:20px;
}

.l_navbar {
    justify-content:left;
    float:left;
}

.l_navbar:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.r_navbar {

    justify-content:right;
    float:right;
}

.r_navbar:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

span {
    padding-right: 1rem;
}

.admin {
    color: gold
}

a {
    text-decoration: none;
    color:white;
}

p {
    margin-bottom: 0%;
    margin-top: 0%
}

.outer_container {
    min-height:100%;
}

.inner_container {
    padding-bottom:64px;
}

.footer {
    justify-content: space-between;
    position:sticky;
    bottom:0px;
    background-color:black;
    width:100%;
    margin: auto;
}

.footer:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

.footer_container {
    height:24px;
    margin-top: -64px;
}

.background_img{
    background-image: url(/jakakolwiek-nazwa/src/assets/biuro.jpg);
    height: 100%;
    position: absolute;
    top: 0;
}

.text_area1
{
    color:blueviolet;
}

.center{
  width: 60px;
  height: 60px;
  display: block;
}
