<!--Pasek na górze-->
<div class="outer_container">
  <div class="inner_container">

    <mat-toolbar id="matToolbar">
      <img src="assets/projekt_logo.jpg" class="center" width="60" height="60" display:block>
      Ripple Hot Seat

      <div id="lalala">
        <a class="l_navbar" routerLink="/" routerLinkActive="active" (click)="showMatToolbar()">
          <span>Home page</span>
        </a>
        <a class="l_navbar" routerLink="/office" routerLinkActive="active" (click)="showMatToolbar()">
          <span>Office</span>
        </a>
        <a class="l_navbar" routerLink="/reservations" routerLinkActive="active" (click)="showMatToolbar()">
          <span>Reservations</span>
        </a>
      </div>

      <!--Zapchajdziura klasa do rozdzielenia lewej i prawej-->
      <div class="example-fill-remaining-space"></div>

      <!--W domysle zalogowany uzytkownik nie bedzie mogl sie zarejestrowac ani zalogowac, a zamiast tego bedzie mial tylko infomrmacje o koncie.
  Tak samo niezalogowany uzytkownik nie powinien byc w stanie wyswietlic informacji o koncie.-->

      <div>
        <a class="r_navbar" *ngIf="!_loginService.isLoggedIn()" routerLink="/login" routerLinkActive="active" (click)="hideMatToolbar()">
          <span>Login</span>
        </a>
        <a class="r_navbar" *ngIf="!_loginService.isLoggedIn()" routerLink="/register" routerLinkActive="active" (click)="hideMatToolbar()">
          <span>Register</span>
        </a>
        <a class="r_navbar" *ngIf="_loginService.isLoggedIn()" routerLink="/account" routerLinkActive="active" (click)="showMatToolbar()">
          <span>Account</span>
        </a>
        <a class="r_navbar" *ngIf="_loginService.isLoggedIn()" routerLink="/reset-password" routerLinkActive="active" (click)="hideMatToolbar()">
          <span>Reset Password</span>
        </a>
        <a class="r_navbar" style="cursor:pointer" *ngIf="_loginService.isLoggedIn()" (click)="_loginService.logoutUser(); showMatToolbar();">
          <span>Logout</span>
        </a>
      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </div>
</div>

<!--footer-->
<div class="footer_container">
  <mat-toolbar class="footer">
    I'm a footer!
    <div class="pl-20">
      <a routerLink="/aboutus" routerLinkActive="active">
        <span>About us</span>
      </a>
    </div>

    <div class="pl-20">
      <a routerLink="/faq" routerLinkActive="active">
        <span>FAQ</span>
      </a>
    </div>

  </mat-toolbar>

</div>


<!-- Stary kod, nie lubię usuwać go :( )
  This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) --
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Main page.</a></li>
    <li><a routerLink="/office" routerLinkActive="active">Office view.</a></li>
    <li><a routerLink="/reservations" routerLinkActive="active">My reservations.</a></li>
    <li><a routerLink="/aboutus" routerLinkActive="active">About us.</a></li>
    <li><a routerLink="/faq" routerLinkActive="active">Frequently asked questions.</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login.</a></li>
    <li><a routerLink="/register" routerLinkActive="">Register an account.</a></li>
    <li><a routerLink="/account" routerLinkActive="active">My account.</a></li>
  </ul>
</nav>

-->
