<!--Pasek na górze-->
<div class="outer_container">
  <div class="inner_container">
    <mat-toolbar id="matToolbar">
      <img src="assets/projekt_logo.jpg" class="center">
      <h1>Ripple Hot Seat</h1>

      <div id="mar">
        <span class="l_navbar" style="cursor:pointer" routerLink="/" routerLinkActive="active" (click)="showMatToolbar()">
          Home page
        </span>
        <span class="l_navbar" style="cursor:pointer" routerLink="/office" routerLinkActive="active" (click)="showMatToolbar()">
          Office
        </span>
        <span class="l_navbar" style="curysor:pointer" routerLink="/reservations" routerLinkActive="active" (click)="showMatToolbar()">
          Reservations
        </span>
      </div>

      <!--Zapchajdziura klasa do rozdzielenia lewej i prawej-->
      <div class="example-fill-remaining-space"></div>

      <!--W domysle zalogowany uzytkownik nie bedzie mogl sie zarejestrowac ani zalogowac, a zamiast tego bedzie mial tylko infomrmacje o koncie.
  Tak samo niezalogowany uzytkownik nie powinien byc w stanie wyswietlic informacji o koncie.-->

      <div>
        <span class="r_navbar" style="cursor:pointer" *ngIf="!_loginService.isLoggedIn()" routerLink="/login" routerLinkActive="active" (click)="hideMatToolbar()">
          Login
        </span>
        <span class="r_navbar" style="cursor:pointer" *ngIf="!_loginService.isLoggedIn()" routerLink="/register" routerLinkActive="active" (click)="hideMatToolbar()">
          Register
        </span>
        <span class="r_navbar" style="cursor:pointer" *ngIf="_loginService.isLoggedIn()" routerLink="/account" routerLinkActive="active" (click)="showMatToolbar()">
          {{_loginService.getUsername()}}
        </span>
        <span class="r_navbar" style="cursor:pointer" *ngIf="_loginService.isLoggedIn()" routerLink="/reset-password" routerLinkActive="active" (click)="hideMatToolbar()">
          Reset Password
        </span>
        <span class="r_navbar" style="cursor:pointer" *ngIf="_loginService.isLoggedIn()" (click)="_loginService.logoutUser(); showMatToolbar();">
          Logout
        </span>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
<!--footer-->
<div class="footer_container">
  <mat-toolbar class="footer">
    I'm a footer!
    <div class="pl-20">
      <a routerLink="/aboutus" routerLinkActive="active" (click)="showMatToolbar()">
        <span>About us</span>
      </a>
    </div>
    <div class="pl-20">
      <a routerLink="/faq" routerLinkActive="active" (click)="showMatToolbar()">
        <span>FAQ</span>
      </a>
    </div>
  </mat-toolbar>
</div>


<!-- Stary kod, nie lubię usuwać go :( )
  This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) --
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Main page.</a></li>
    <li><a routerLink="/office" routerLinkActive="active">Office view.</a></li>
    <li><a routerLink="/reservations" routerLinkActive="active">My reservations.</a></li>
    <li><a routerLink="/aboutus" routerLinkActive="active">About us.</a></li>
    <li><a routerLink="/faq" routerLinkActive="active">Frequently asked questions.</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login.</a></li>
    <li><a routerLink="/register" routerLinkActive="">Register an account.</a></li>
    <li><a routerLink="/account" routerLinkActive="active">My account.</a></li>
  </ul>
</nav>

-->
