.text_box2{
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.register_box{
  background-color: rgba(60,60,60,1.0);
  margin: 250px 0px;
  border-radius: 20px;
}

.register{
  background-color: rgba(0,0,0,.5);
  justify-content: center;
  display: flex;
}

.register_input{
  background-color: rgba(210,210,210,1.0);
  border-radius: 20px;
  font-size: 14px;
  padding: 8px 20px;
  border-width: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
}

#register_btn{
  color: white;
  background-color: dodgerblue;
  font-size: 14px;
  text-align: center;
  padding: 8px 20px;
  border-width: 0px;
  display: block;
  border-radius: 20px;
  margin: 20px auto 20px auto;
}

#register_btn:hover{
  color: gold;
  border-color: gold;
}

.register_mar{
  margin: 75px 75px;
}

#text{
  text-align: center;
  margin-top: 30px;
  color: white;
}

#link{
  color: dodgerblue;
}


