<div class="register">
  <div class="register_box">
    <div class="register_mar">
      <h1 class="text_box2">Login to your account</h1>
      <input class="register_input" name="username" [(ngModel)]="username" id="email" placeholder="Username">
      <br>
      <input class="password" class="register_input" [(ngModel)]="password" id="password" placeholder="Password">
      <br>
      <button id="register_btn" (click)="doLogin()"> Login </button>
      <div id="text">
        <a>Don't have an account? </a>
        <b id="link" routerLink="../register" routerLinkActive="active">Register</b>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="register">
  <div class="register_box">
    <div class="register_mar">
      <h1 class="text_box2">Register account</h1>
      <input class="register_input" placeholder="Username">
      <br>
      <input class="register_input" placeholder="E-mail address">
      <br>
      <input type="password" class="register_input" placeholder="Password">
      <br>
      <input type="password" class="register_input" placeholder="Confirm password">
      <br>
      <button id="register_btn">Register account</button>
      <div id="text">
        <a>Already have an account? </a>
        <b id="link" routerLink="../login" routerLinkActive="active">Log in</b>
      </div>
    </div>
  </div>
</div>

-->
 
<!--
  <div class="background-wrap">
  <div class="background"></div>
</div>

<form id="accesspanel" action="">
  <h1 id="litheader">Skradzione od Java Techie</h1>
  <div class="inset">
    <p>
      <input type="text" name="username" [(ngModel)]="username" id="email" placeholder="username">
    </p>
    <p>
      <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password">
    </p>
  </div>
  <p class="p-container">
    <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()">
  </p>
</form>
-->
